
{% load staticfiles %}
<html>
    <head>
        <title>info Irish</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static "css/blog.css" %}">
        <link rel="stylesheet" href="{% static "css/background.css" %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'blog.views.home' %}">infoIrish.COM</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                {% if user.is_authenticated %}
              <ul class="nav navbar-nav">
                <li>
                    &nbsp;&nbsp;
                </li>
                <li>
                    <a href="{% url 'blog.views.home' %}">
                        <span class="glyphicon glyphicon-list-alt"></span>&nbsp;Feed
                    </a>
                </li>
                <li>
                    <a href="{% url 'import_post' %}">
                        <span class="glyphicon glyphicon-import"></span>&nbsp;Importar Post
                    </a>
                </li>
                <li>
                    <a href="{% url 'list_my_post' %}">
                        <span class="glyphicon glyphicon-check"></span>&nbsp;Meus Posts
                    </a>
                </li>
              </ul>

              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Bem-vindo, {{ user.username }}<small></small></a></li>
                <li><a href="{% url 'django.contrib.auth.views.logout' %}"><span class="glyphicon glyphicon-off"></span> Sair</a></li>
              </ul>

                {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'add_user' %}">
                            <span class="glyphicon glyphicon-user"></span> Cadastre-se
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'django.contrib.auth.views.login' %}">
                            <span class="glyphicon glyphicon-log-in"></span> Login
                        </a>
                    </li>
                </ul>
                {% endif %}
            </div>
          </div>
        </nav>

        <div class="container">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </body>
</html>